<div class="wrapper">
    <div class="background">
        <div class="content">
            <div class="main-content">
                <div class="main-content-text">
                    <p>Приветик и поздравляю тебя с 23 числом это чило которое для нас значит многого. Для нас с тобой этот день самый важный и лучший!, Люблю тебя и обожаю очень сильно, желаю тебе всего самого наилучшего и чтобы все твои мечты сбывались, желаю чтобы мы с тобой преодолели эту первую ступень отношении и стать чем-то больше чем просто девушка и парень</p>
                </div>
                <div class="main-content-img">
                    <img src="../../assets/heart.png">
                </div>
            </div>
            
            <hr>
            <div class="second-content">
                <div class="secont-content-image">
                    <img src="../../assets/1600w-uiVPSo4Xspo.webp" alt="" class="">
                </div>
                <div class="lines">
                    <hr>
                    <hr>
                    <hr>
                    <hr>
                    <hr>
                    <hr>
                    <hr>
                </div>
            </div>
            
        </div>
        <div class="to-next-page">
            <button (click)="routeToAnother()">на след. страницу</button>
        </div>
    </div>
</div>