<div class="wrapper">
    <app-content [img]="imgUrl" [text]="textToSend" [direction]="'row'" data-aos="fade-down"></app-content>
    <app-content [img]="imgUrl2" [text]="textToSend2" [direction]="'row-reverse'" data-aos="fade-right"></app-content>
    <app-content [img]="imgUrl3" [text]="textToSend3" [direction]="'row'" data-aos="flip-up"></app-content>
    <app-content [img]="imgUrl4" [text]="textToSend4" [direction]="'row-reverse'" data-aos="fade-up"></app-content>
    <app-content [img]="imgUrl5" [text]="textToSend5" [direction]="'row'" data-aos="flip-down"></app-content>
    <app-content [img]="imgUrl6" [text]="textToSend6" [direction]="'row-reverse'" data-aos="zoom-in"></app-content>
    <app-content [img]="imgUrl7" [text]="textToSend7" [direction]="'row'" data-aos="flip-right"></app-content>
    <app-content [img]="imgUrl8" [text]="textToSend8" [direction]="'row-reverse'" data-aos="flip-left"></app-content>

</div>